.navbar{
    background:#1D40B8;
    background-color: rgba(29,64,184,0.8);
}

#background{
   padding-bottom: 35px;
}

.tile-about{
    width: 100%;
    margin-top: 0px;
    padding: 0px;
    overflow: hidden;
    z-index: -10;
}

.col-md-4{
    padding-left: 0px;
    padding-right: 0px;
}

#about-header{
    font-size: 30px;
    font-family: Impact, Charcoal, sans-serif;
    letter-spacing: 2px;
    padding-left: 15px;
}

#about-text{
    font-size: 20px;
    margin-top: 40px;
    font-weight: 200;
    padding-bottom: 50px;
}

.about-section{
    padding: 0px 15px;
}

#footer{
    background-color: rgba(0,0,0,0.3);
}

#tagline{
    visibility: hidden;
}

@media screen and (max-width: 992px){
    
}

@media screen and (max-width: 768px) {
    .navbar-collapse{
        background-color: rgba(0,165,60, 0.8);
    }
    #about-header{
        position: absolute;
        top: 10px;
        opacity: 0.6
    }
    .about-spacing{
        margin-top: 0px;
    }
    .sub-heading{
        font-size: 20px;
    }
    #about-text{
        padding: 0px 10px 50px 10px;
        font-size: 18px;
    }
    #about-header{
        font-size: 60px;
    }
}

@media screen and (max-width: 600px){
    #about-header{
        font-size: 50px;
    }
}

@media screen and (min-width: 768px){
    #about{
        border-top: 2px solid #fff;
    }
    #menu a:hover{
        border-top: 2px solid #fff;
    }
}

@media screen and (max-width: 480px){
        .sub-heading{
            font-size: 18px;
        }
        #about-text{
            padding: 0px 10px;
            font-size: 15px;
        }
        #about-header{
            font-size: 30px;
        }
    }
}


